@charset "utf-8";

:root {
  --primary-color: #15161b;
  --secondary-color: #fafbfe;
  --text-dark: #282d31;
  --text-light: #767268;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--primary-color);
}

h1, h2, p {
  color: var(--secondary-color);
}
  
.container {
  text-align: center;
}

.container h1 {
  font-size: 4rem;
}

.clock {
  font-size: 7em;
  color: var(--secondary-color);
}

::placeholder {
  text-align: center;
  color: var(--text-light);
}

input[type=text] {
  padding: 0.5rem;
  border-radius: 5rem;
  width: 7.5rem;
  height: 4.5rem;
  color: var(--secondary-color);
  text-align: center;
}

input {
  background-color: #1f2028;
  margin: 0.6rem;
}
  
.alarmForm {
  margin-top: 20px;
}
  
.alarmIndicator p {
  margin-top: 20px;
  display: none;
  color: var(--secondary-color);
  font-weight: bold;
  cursor: pointer;
  display: block;
  color: #cfcdc7;
}

button {
  background-color:rgb(195, 36, 8);
  padding: 1rem;
  border-radius: 5rem;
  color: var(--secondary-color);
  margin: 0.6rem;
  height: 4.5rem;
  width: 12rem;
}

button:hover{
  background-color: rgb(151, 27, 5);
  transition: all 0.2s ease-in-out;
}

form {
  width: auto;
  height: auto;
}